<div class="main users-edit">
  <div class="container">
    <div class="form-heading">プロフィールを更新する</div>
    <div class="form users-form">
      <div class="form-body">
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>
