<div class="main users-edit">
  <div class="container">
    <div class="form-heading">曲の内容をする</div>
    <div class="form users-form">
      <div class="form-body">
        <%= render 'form2'%>
        <%= link_to "削除",post_path(@post),:method=>:delete ,class:"buttonn"%>
      </div>
    </div>
  </div>
</div>
